<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">    
    <title>Bookmarks</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
    <link rel=stylesheet type=text/css href="/static/css/jumbotron-narrow.css">
    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular-resource.min.js"></script>
    <script src="/static/lib/ui-bootstrap-tpls-0.11.0.min.js"></script> 
    
    <script src="/static/js/app.js"></script>
    <script src="/static/js/controllers.js"></script>
    <script src="/static/js/services.js"></script>  
    
<!--     <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script> -->
<!--     <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script> -->
     
  
  </head>
  <body>
  <div class="container">

 
	<div class="header">
     	<div class="row">
		<div class="col-md-6">
		<h3>
        	<a href="/index" class="text-muted">Productive Labs</a>
    	</h3>
		</div>
    	{% if current_user.is_authenticated() %}
		<div class="col-md-6" align="right">
			<h4>
			<a href="#">{{current_user.email}}</a>					
			<a href="/logout">Logout</a>
			</h4>
		</div>
		{% else %}
		<div class="col-md-6" align="right">
			<h4>
			<!--<a href="/login">Login</a>-->
        	<a href="/register">Register</a>
			</h4>
		</div>
        {% endif %}
		</div>
	
	</div>
	
   	<div class="content">
    	{% block content %}{% endblock %}
    </div> 

 
    <!--<div ng-view></div>-->
    

  </div>
<!--     jQuery (necessary for Bootstrap's JavaScript plugins)
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    Include all compiled plugins (below), or include individual files as needed
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  -->
  </body>
</html>
